$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

@font-face {
    font-family: fancy;
    src: url('../fonts/BLESD___.otf');
    font-weight:100;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

header{
    .navbar{
        background: #41437C;
        margin-bottom: 0;
        border: 0 !important;
        ul{
            margin-top: 13px;
            a{
                font-size: 18px;
                color: #fff !important;
                &:hover{
                    color: #E3648F !important;
                }
            }
            a:active{
                background: transparent !important;
            }
        }
    }
}
.my-name{
    color: #fff;
    font-family: fancy;
    font-size: 40px;
}
.navbar{
    box-shadow:0px 1px 10px #CCC;
}

.introduction-blk{
    text-align: center;
    padding: 50px;
    .intro-text{
        font-family: fancy;
        font-size: 100px;
        margin-bottom: 20px;
    }
}